# Market Cap Tracker

Using Crypto compare api

In [10]:
import requests,json,datetime,time,random, math
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from urllib.parse import urljoin, urlencode
import csv

# Path
1) collect volume data

2) process volume data

3) create DF with volume data

4) collect new data

5) process data[i]

6) add new data to previous DF

7) do till 5 sets of data

In [11]:
pd.Timestamp.now()

Timestamp('2020-08-13 14:35:33.760113')

In [51]:
def init():
    name = 'VOLUME24HOURTO-%s' % (str(pd.Timestamp.now())[17:19])
    url = 'https://min-api.cryptocompare.com/data/top/volumes?tsym=BTC&limit=1000'
    output = requests.get(url)
    content = json.loads(output.content.decode('utf-8'))
    df = pd.DataFrame(content['Data'])
    df = df.set_index('SYMBOL')
    df[name] = df['VOLUME24HOURTO']
    del df['SUPPLY']
    del df['VOLUME24HOURTO']
    return df

In [144]:
def loop(df):
    firstDF = df.copy()
    name = 'VOLUME24HOURTO-%s' % (str(pd.Timestamp.now())[17:19])
    url = 'https://min-api.cryptocompare.com/data/top/volumes?tsym=BTC&limit=1000'
    output = requests.get(url)
    content = json.loads(output.content.decode('utf-8'))
    df = pd.DataFrame(content['Data'])
    df = df.set_index('SYMBOL')
    df[name] = df['VOLUME24HOURTO']
    del df['FULLNAME']
    del df['NAME']
    del df['ID']
    del df['VOLUME24HOURTO']
    del df['SUPPLY']
    firstDF = firstDF.join(df, rsuffix='left')
    if firstDF.shape[1] > 9:
        firstDF = firstDF.drop(firstDF.columns[3],axis=1)
    return firstDF

In [145]:
df = init()
df

                   FULLNAME           NAME      ID  VOLUME24HOURTO-22
SYMBOL
LIPS        LipChain (LIPS)       LipChain  928569       1.300729e+07
ETH          Ethereum (ETH)       Ethereum    7605       3.889826e+04
LINK       Chainlink (LINK)      Chainlink  309621       2.766776e+04
SXP             Swipe (SXP)          Swipe  931777       7.643759e+03
BCH      Bitcoin Cash (BCH)   Bitcoin Cash  202330       6.576548e+03
...                     ...            ...     ...                ...
NYN             NYNJA (NYN)          NYNJA  924307       1.697220e-03
FACE        Faceter  (FACE)       Faceter   892684       1.676943e-03
DMS     Documentchain (DMS)  Documentchain  932554       1.666154e-03
XDNA            XDNA (XDNA)           XDNA  921608       1.550246e-03
KLKS        Kalkulus (KLKS)       Kalkulus  517193       1.549326e-03

[1001 rows x 4 columns]

In [147]:
b = loop(df)
b

,FULLNAME,NAME,ID,VOLUME24HOURTO-22,VOLUME24HOURTO-41
SYMBOL,,,,,
LIPS,LipChain (LIPS),LipChain,928569,1.300729e+07,1.300729e+07
ETH,Ethereum (ETH),Ethereum,7605,3.889826e+04,3.891130e+04
LINK,Chainlink (LINK),Chainlink,309621,2.766776e+04,2.767121e+04
SXP,Swipe (SXP),Swipe,931777,7.643759e+03,7.643759e+03
BCH,Bitcoin Cash (BCH),Bitcoin Cash,202330,6.576548e+03,6.577894e+03
...,...,...,...,...,...
NYN,NYNJA (NYN),NYNJA,924307,1.697220e-03,1.697220e-03
FACE,Faceter (FACE),Faceter,892684,1.676943e-03,1.676943e-03
DMS,Documentchain (DMS),Documentchain,932554,1.666154e-03,1.666154e-03
XDNA,XDNA (XDNA),XDNA,921608,1.550246e-03,1.550246e-03
KLKS,Kalkulus (KLKS),Kalkulus,517193,1.549326e-03,1.549326e-03