# Market Cap Tracker

Using Crypto compare api

In [10]:
import requests,json,datetime,time,random, math
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from urllib.parse import urljoin, urlencode
import csv

# Path
1) collect volume data

2) process volume data

3) create DF with volume data

4) collect new data

5) process data[i]

6) add new data to previous DF

7) do till 5 sets of data

In [11]:
pd.Timestamp.now()

Timestamp('2020-08-13 14:35:33.760113')

In [51]:
def init():
    name = 'VOLUME24HOURTO-%s' % (str(pd.Timestamp.now())[17:19])
    url = 'https://min-api.cryptocompare.com/data/top/volumes?tsym=BTC&limit=1000'
    output = requests.get(url)
    content = json.loads(output.content.decode('utf-8'))
    df = pd.DataFrame(content['Data'])
    df = df.set_index('SYMBOL')
    df[name] = df['VOLUME24HOURTO']
    del df['SUPPLY']
    del df['VOLUME24HOURTO']
    return df

In [122]:
def loop(df):
    firstDF = df.copy()
    name = 'VOLUME24HOURTO-%s' % (str(pd.Timestamp.now())[17:19])
    url = 'https://min-api.cryptocompare.com/data/top/volumes?tsym=BTC&limit=1000'
    output = requests.get(url)
    content = json.loads(output.content.decode('utf-8'))
    df = pd.DataFrame(content['Data'])
    df = df.set_index('SYMBOL')
    df[name] = df['VOLUME24HOURTO']
    del df['VOLUME24HOURTO']
    del df['SUPPLY']
    firstDF = firstDF.merge(df)
    if firstDF.shape[1] > 9:
        firstDF = firstDF.drop(firstDF.columns[3],axis=1)
    return firstDF

In [120]:
df = init()
df

                   FULLNAME           NAME      ID  VOLUME24HOURTO-58
SYMBOL
LIPS        LipChain (LIPS)       LipChain  928569       1.300729e+07
ETH          Ethereum (ETH)       Ethereum    7605       3.851786e+04
LINK       Chainlink (LINK)      Chainlink  309621       2.756207e+04
SXP             Swipe (SXP)          Swipe  931777       7.632392e+03
BCH      Bitcoin Cash (BCH)   Bitcoin Cash  202330       6.555957e+03
...                     ...            ...     ...                ...
FACE        Faceter  (FACE)       Faceter   892684       1.676943e-03
DMS     Documentchain (DMS)  Documentchain  932554       1.666154e-03
XDNA            XDNA (XDNA)           XDNA  921608       1.550246e-03
KLKS        Kalkulus (KLKS)       Kalkulus  517193       1.549326e-03
SCAP     SafeCapital (SCAP)    SafeCapital  932959       1.547764e-03

[1001 rows x 4 columns]

In [137]:
b = loop(b)
b

,FULLNAME,NAME,ID,VOLUME24HOURTO-55,VOLUME24HOURTO-56,VOLUME24HOURTO-57,VOLUME24HOURTO-58,VOLUME24HOURTO-59,VOLUME24HOURTO-00
0,LipChain (LIPS),LipChain,928569,1.300729e+07,1.300729e+07,1.300729e+07,1.300729e+07,1.300729e+07,1.300729e+07
1,Eminer (EM),Eminer,931750,7.038714e+02,7.038721e+02,7.038721e+02,7.038721e+02,7.038721e+02,7.038721e+02
2,Numeraire (NMR),Numeraire,166594,4.043498e+02,4.043498e+02,4.043498e+02,4.043498e+02,4.043498e+02,4.043498e+02
3,Troy (TROY),Troy,932868,3.591101e+02,3.591101e+02,3.591101e+02,3.591101e+02,3.591101e+02,3.591101e+02
4,Fetch.AI (FET),Fetch.AI,929174,3.210088e+02,3.210968e+02,3.210968e+02,3.210968e+02,3.210968e+02,3.210968e+02
...,...,...,...,...,...,...,...,...,...
617,Faceter (FACE),Faceter,892684,1.676943e-03,1.676943e-03,1.676943e-03,1.676943e-03,1.676943e-03,1.676943e-03
618,Documentchain (DMS),Documentchain,932554,1.666154e-03,1.666154e-03,1.666154e-03,1.666154e-03,1.666154e-03,1.666154e-03
619,XDNA (XDNA),XDNA,921608,1.550246e-03,1.550246e-03,1.550246e-03,1.550246e-03,1.550246e-03,1.550246e-03
620,Kalkulus (KLKS),Kalkulus,517193,1.549326e-03,1.549326e-03,1.549326e-03,1.549326e-03,1.549326e-03,1.549326e-03
621,SafeCapital (SCAP),SafeCapital,932959,1.547764e-03,1.547764e-03,1.547764e-03,1.547764e-03,1.547764e-03,1.547764e-03

In [14]:
url = 'https://min-api.cryptocompare.com/data/top/volumes?tsym=BTC&limit=1000'
output = requests.get(url)
content = json.loads(output.content.decode('utf-8'))
df = pd.DataFrame(content['Data'])
df = df.set_index('SYMBOL')