# Market Cap Tracker

Using Crypto compare api

In [10]:
import requests,json,datetime,time,random, math
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from urllib.parse import urljoin, urlencode
import csv

# Path
1) collect volume data

2) process volume data

3) create DF with volume data

4) collect new data

5) process data[i]

6) add new data to previous DF

7) do till 5 sets of data

In [11]:
pd.Timestamp.now()

Timestamp('2020-08-13 14:35:33.760113')

In [51]:
def init():
    name = 'VOLUME24HOURTO-%s' % (str(pd.Timestamp.now())[17:19])
    url = 'https://min-api.cryptocompare.com/data/top/volumes?tsym=BTC&limit=1000'
    output = requests.get(url)
    content = json.loads(output.content.decode('utf-8'))
    df = pd.DataFrame(content['Data'])
    df = df.set_index('SYMBOL')
    df[name] = df['VOLUME24HOURTO']
    del df['SUPPLY']
    del df['VOLUME24HOURTO']
    return df

In [119]:
def loop(df):
    firstDF = df.copy()
    name = 'VOLUME24HOURTO-%s' % (str(pd.Timestamp.now())[17:19])
    url = 'https://min-api.cryptocompare.com/data/top/volumes?tsym=BTC&limit=1000'
    output = requests.get(url)
    content = json.loads(output.content.decode('utf-8'))
    df = pd.DataFrame(content['Data'])
    df = df.set_index('SYMBOL')
    df[name] = df['VOLUME24HOURTO']
    del df['VOLUME24HOURTO']
    del df['SUPPLY']
    firstDF = firstDF.merge(df)
    if a.shape[1] > 9:
        a = a.drop(a.columns[3],axis=1)
    return firstDF

In [72]:
df = init()
df

                    FULLNAME            NAME      ID  VOLUME24HOURTO-03
SYMBOL
LIPS         LipChain (LIPS)        LipChain  928569       1.300729e+07
ETH           Ethereum (ETH)        Ethereum    7605       3.956650e+04
LINK        Chainlink (LINK)       Chainlink  309621       2.949466e+04
SXP              Swipe (SXP)           Swipe  931777       7.737719e+03
BCH       Bitcoin Cash (BCH)    Bitcoin Cash  202330       6.825552e+03
...                      ...             ...     ...                ...
THX!           Thx! (THANKS)            Thx!  934363       1.872000e-03
XSG            Snowgem (XSG)         Snowgem  847395       1.856887e-03
EER     Ethereum eRush (EER)  Ethereum eRush  933988       1.807946e-03
NYN              NYNJA (NYN)           NYNJA  924307       1.697220e-03
FACE         Faceter  (FACE)        Faceter   892684       1.673860e-03

[1001 rows x 4 columns]

In [116]:
a = loop(a)
a

,FULLNAME,NAME,ID,VOLUME24HOURTO-14,VOLUME24HOURTO-16,VOLUME24HOURTO-07,VOLUME24HOURTO-31,VOLUME24HOURTO-40,VOLUME24HOURTO-05,VOLUME24HOURTO-11,VOLUME24HOURTO-12
0,LipChain (LIPS),LipChain,928569,1.300729e+07,1.300729e+07,1.300729e+07,1.300729e+07,1.300729e+07,1.300729e+07,1.300729e+07,1.300729e+07
1,Ethereum (ETH),Ethereum,7605,3.957090e+04,3.957090e+04,3.818582e+04,3.846289e+04,3.847398e+04,3.848153e+04,3.849916e+04,3.849916e+04
2,Chainlink (LINK),Chainlink,309621,2.950131e+04,2.950131e+04,2.733187e+04,2.754664e+04,2.754999e+04,2.755274e+04,2.755463e+04,2.755463e+04
3,Swipe (SXP),Swipe,931777,7.737719e+03,7.737719e+03,7.602653e+03,7.627722e+03,7.627722e+03,7.630003e+03,7.630003e+03,7.630003e+03
4,Bitcoin Cash (BCH),Bitcoin Cash,202330,6.825604e+03,6.825604e+03,6.530117e+03,6.551111e+03,6.551735e+03,6.552427e+03,6.552434e+03,6.552434e+03
...,...,...,...,...,...,...,...,...,...,...,...
979,Thx! (THANKS),Thx!,934363,1.872000e-03,1.872000e-03,1.872000e-03,1.872000e-03,1.872000e-03,1.872000e-03,1.872000e-03,1.872000e-03
980,Snowgem (XSG),Snowgem,847395,1.856887e-03,1.856887e-03,1.856887e-03,1.856887e-03,1.856887e-03,1.856887e-03,1.856887e-03,1.856887e-03
981,Ethereum eRush (EER),Ethereum eRush,933988,1.807946e-03,1.807946e-03,1.807946e-03,1.807946e-03,1.807946e-03,1.807946e-03,1.807946e-03,1.807946e-03
982,NYNJA (NYN),NYNJA,924307,1.697220e-03,1.697220e-03,1.697220e-03,1.697220e-03,1.697220e-03,1.697220e-03,1.697220e-03,1.697220e-03
983,Faceter (FACE),Faceter,892684,1.673860e-03,1.673860e-03,1.673860e-03,1.676943e-03,1.676943e-03,1.676943e-03,1.676943e-03,1.676943e-03

In [118]:
if a.shape[1] > 9:
    a = a.drop(a.columns[3],axis=1)
a

,FULLNAME,NAME,ID,VOLUME24HOURTO-07,VOLUME24HOURTO-31,VOLUME24HOURTO-40,VOLUME24HOURTO-05,VOLUME24HOURTO-11,VOLUME24HOURTO-12
0,LipChain (LIPS),LipChain,928569,1.300729e+07,1.300729e+07,1.300729e+07,1.300729e+07,1.300729e+07,1.300729e+07
1,Ethereum (ETH),Ethereum,7605,3.818582e+04,3.846289e+04,3.847398e+04,3.848153e+04,3.849916e+04,3.849916e+04
2,Chainlink (LINK),Chainlink,309621,2.733187e+04,2.754664e+04,2.754999e+04,2.755274e+04,2.755463e+04,2.755463e+04
3,Swipe (SXP),Swipe,931777,7.602653e+03,7.627722e+03,7.627722e+03,7.630003e+03,7.630003e+03,7.630003e+03
4,Bitcoin Cash (BCH),Bitcoin Cash,202330,6.530117e+03,6.551111e+03,6.551735e+03,6.552427e+03,6.552434e+03,6.552434e+03
...,...,...,...,...,...,...,...,...,...
979,Thx! (THANKS),Thx!,934363,1.872000e-03,1.872000e-03,1.872000e-03,1.872000e-03,1.872000e-03,1.872000e-03
980,Snowgem (XSG),Snowgem,847395,1.856887e-03,1.856887e-03,1.856887e-03,1.856887e-03,1.856887e-03,1.856887e-03
981,Ethereum eRush (EER),Ethereum eRush,933988,1.807946e-03,1.807946e-03,1.807946e-03,1.807946e-03,1.807946e-03,1.807946e-03
982,NYNJA (NYN),NYNJA,924307,1.697220e-03,1.697220e-03,1.697220e-03,1.697220e-03,1.697220e-03,1.697220e-03
983,Faceter (FACE),Faceter,892684,1.673860e-03,1.676943e-03,1.676943e-03,1.676943e-03,1.676943e-03,1.676943e-03

In [14]:
url = 'https://min-api.cryptocompare.com/data/top/volumes?tsym=BTC&limit=1000'
output = requests.get(url)
content = json.loads(output.content.decode('utf-8'))
df = pd.DataFrame(content['Data'])
df = df.set_index('SYMBOL')